<header id="navbar" class="text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      href="/"
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
      <img src="../images/logo-freebg.png" class="w-14 h-14 text-white rounded-full" alt="logo">
      <span class="ml-3 text-xl">IndiaNews</span>
    </a>
    <nav
      class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"
    >
      <a href="/" class="mr-5 hover:text-gray-900 nav-link">Home</a>
      <a href="/categories/" class="mr-5 hover:text-gray-900 nav-link">Categories</a>
      <a href="/sources/" class="mr-5 hover:text-gray-900 nav-link">Sources</a>
      <a href="/about/" class="mr-5 hover:text-gray-900 nav-link">About</a>
      <a href="/contact/" class="mr-5 hover:text-gray-900 nav-link">Contact</a>
    </nav>
    <button
    onclick="alert('Nothing to show here!')"
      class="inline-flex items-center text-gray-50 bg-primary border-0 py-1 cursor-pointer px-3 focus:outline-none hover:bg-blue-700 rounded text-base mt-4 md:mt-0"
    >
      Nothing
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-1"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
<script src="../js/navbar.js"></script>
